@tailwind base;
@tailwind components;
@tailwind utilities;




.custom-border {
    border-radius: 39% 52% 27% 41% / 100% 100% 100% 100%  ;
    border: 2px solid black;

}

.active{
    background-color: #537749;
    color: white;
}

.not-active {
    color: #1B5A7A;
    background-color: white;
}


.disable:hover{
    cursor: not-allowed;
}